<div class="row">
	<div class="col-sm-12">
		<br>
		<form class="form form-horizontal" ng-submit="save(product)">
			<div class="form-group">
				<label class="control-label col-sm-2">型号</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="product.name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">品牌</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="product.brand">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">所属模块</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="product.module" typeahead="module as module.name for module in searchModule($viewValue)">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">价格</label>
				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">¥</span>
						<input type="number" step="0.01" class="form-control" ng-model="product.price">
					</div>
				</div>
			</div>
			<div class="col-sm-offset-2">
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
		</form>
	</div>
</div>