$green: #669a6a;
$boardWidth: 180;

div {
    box-sizing: border-box;
}

#main {
}
.arrow.active {
    opacity: 1!important;
    cursor: pointer!important;
}

button:focus, button:active {
    outline: 0!important;
}

.main-content {
    text-align: center;
    padding-bottom: 200px;
}

@mixin btn-green {
    color: #fff;
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    border-color: #51a351 #51a351 #387038;
    background-color: #51a351;
}

.Image {
    position: absolute;
    height: 400px;
    width: 400px;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0;
}

.link-active {
    color: #bbbbbb;
    text-decoration: none;
}

.btn {
    margin: 0 0.3em;
}
.green {
    color: $green;
}

.open-menu.navbar {
    background: none;
    right: auto;
    .btn-navbar {
        display: inline-block;
        float: left;
    }
}

h1 {
    color: #51a351;
    font-size: 20px;
}

.navbar.navbar-fixed-top.navbar-fixed-bottom{
    width: 300px;
    background: #999;
    margin: 0;
    position: fixed;
    .navbar-inner {
        height: 100%;
        background: #595757;
        padding: 0;
        .container {
            width: 100%;
            .nav-collapse, .nav-collapse.collapse {
                height: auto;
            }
            .logo {
                margin: 50px auto;
                text-align: center;
            }
            .nav {
                width: 100%;
                li {
                    float: none;
                    a {
                        text-shadow: none;
                        color: #fff;
                        padding: 20px 30px;
                        border-radius: 0;
                        border-bottom: 1px solid #999;
                        margin: 0;
                        &.active, &:hover {
                            background: #ddd;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}
.page-header {
    text-align: left;
    border-bottom: 1px solid #999;
    overflow: hidden;
    margin-bottom: 0;
    h1 {
        margin-left: 10%;
    }
}

.page-search {
    text-align: center;
    margin-top: 200px;
}

.page-create {
    .row-step {
        padding: 50px 10%;
        position: relative;
        border-bottom: 1px solid #999;
        background: #eee;
        .cover {
            display: none;
            margin: 0 auto 20px;
            border-radius: 15px;
            border: 3px solid #fff;
        }
        .arrow {
            font-size: 5em;
            color: $green;
            opacity: 0.5;
            cursor: default;
            top: 50%;
            margin-top: -2.5rem; 
            user-select: none;
            &.left {
                position: absolute;
                left: 2%;
            }
            &.right {
                position: absolute;
                right: 2%;
            }
            &.fa-angle-down {
                display: none;
                position: absolute;
                top: 100%;
                left: 50%;
                color: $green!important;
                margin-top: -1rem;
            }
        }
        a.active {
            .btn {
                @include btn-green;
            }
        }
    }

    $step-names: safeSys, watcher, circuit, machinery;
    @for $i from 1 through length($step-names) {
        $name: nth($step-names, $i);
        @if $i == 4 {
            $next-name: $name;
        } @else {
            $next-name: nth($step-names, $i+1);
        }
        &.step-#{$name} { 
            .row-#{$name} {
                background: $green;
                margin-bottom: 50px;
                padding: 30px 10%;
                .fa-angle-down {
                    display: block;
                }
                .cover {
                    display: block;
                }
                .arrow {
                    color: #fff;

                }
            }
            .row-#{$next-name} ~ .row-step{
                display: none;
            }
        }
    }
}

.sidebar {
    position: fixed;
    width: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 0!important;
    width: 25.65%!important;
    .navbar-inner {
        height: 100%;
        .bottom {
            position: absolute;
            bottom: 20px;
            width: 100%;
            .last-step {
                display: none;
            }
        }
        .items {
            .control-label {
                width: 80px;
            }
            .controls {
                margin-left: 70px;
                text-align: left;
                input[type=text] {
                    width: 60px;
                }
                label {
                    display: inline-block;
                    input[type=radio] {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        opacity: 0;
                        &:checked + a.btn {
                            @include btn-green;
                        }
                    }
                }

            }
        }
    }

}

.step-machinery {
    .sidebar {
        .bottom {
            .last-step {
                display: block;
            }
            .btn.next {
                display: none;
            }
        }
    }
}

.product {
    background: #666;
    .product-list {
        width: 80%;
        padding: 50px 10%;
        > .span3 {
            background: #fff;
            border-radius: 15px;
            padding: 10px;
            form {
                .btn {
                    margin: 0;
                    user-select: none;
                }
                input {
                    width: 20px;
                    border-radius: 0;
                }
            }
        }
    }
}

.form-horizontal.box {
    margin: 20% auto 0;
    max-width: 600px;
    .control-group {
        text-align: left;
        width: 600px;
        img {
            width: 5em;
        }
        input {
            margin-right: 0.5em;
        }
    }
}

header {

}

.page-cases {
    .container {
        width: 1000px;
        margin: 0 auto;
        .row {
            position: relative;
            margin: 0 0 2em;
            padding: 1em;
            border-radius: 15px;
            background: $green;
            text-align: left;
            h2 {
                font-size: 20px;
                color: #fff;
                margin-top: 0;
            }
            .scroll {
                white-space: nowrap;
                overflow-x: auto; 
                margin-right: $boardWidth + px;
                .box {
                    position: relative;
                    width: 140px;
                    height: 240px;
                    border-radius: 6px;
                    border: 1px solid #999;
                    background: #fff;
                    display: inline-block;
                    color: $green;
                    margin-right: 1em;
                    padding: 0.3em;
                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    ul {
                        font-size: 12px;
                    }
                    .price {
                        position: absolute;
                        right: .6em;
                        bottom: .6em;
                        font-size: 16px; 
                    }
                }
            }
            .board {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: $boardWidth + px;
                background: #eee;
                border-radius: 0 15px 15px 0;
                padding: 0.5em;
                color: $green;
                .bottom {
                    position: absolute;
                    bottom: 1em;
                    width: 100%;
                    text-align: center;
                    .price {
                        margin-bottom: 2em;
                    }
                }
            }
        }
    }
}

.page-dco-generation {
    h1 {
        text-align: center;
    }
    text-align: left;
    .container {
        width: 100%;
        .item {
            padding: 0.5em 2em 1.5em; 
            border-top: 1px solid #999;

            h2 {
                text-align: center;
                font-size: 20px;
            }
            h3 {
                font-size: 14px;
            }
        }
    }
    .side-bar {
        position: fixed;
        right: 0;
        top: 0;
        background: #eee;
        min-width: 300px;
        height: 100%;
        margin-left: 0;
        padding: 2em;
        color: $green;
        .inner {
            position: relative;
            height: inherit;
            textarea {
                width: 100%;
            }
            input[type=text] {
                width: 60px;
            }
            .bottom {
                position: absolute;
                width: 100%;
                bottom: 1em;
                text-align: center;
            }
        }
    }
}


